body {
  font-family: 'Georgia', serif;
  background-color: #f3f4ec;
}

.navbar {
  background-color: #f3f4ec;
}

.navbar-brand,
.nav-link {
  color: #3a4a2b !important;
}

.nav-link.active {
  border-bottom: 2px solid #3a4a2b;
  font-weight: bold;
}
.logo img {
  height: 70px;
  margin-right: 5px;
  padding-left: 30px;
}

.cliente-ver {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.info p {
    font-size: 16px;
    color: #333;
}

.btn-ver {
    background-color: #c3d2a4; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
