body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f1f1dc;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 70px;
  margin-right: 5px;
}

.user-actions {
  text-align: right;
}

.user-actions a {
  text-decoration: none;
  color: #333;
  margin-left: 10px;
  font-size: 14px;
}
.main {
  text-align: center;
  padding: 30px 20px;
}

.main img {
  height: 250px;
  margin-bottom:px;
}
p {
  max-width: 600px;
  margin: 0 auto 30px;
  line-height: 1.6;
}
