body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f1f1dc;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 70px;
  margin-right: 5px;
}