body {
  font-family: 'Georgia', serif;
  background-color: #f0f1e5;
}

.bg-soft-green {
  background-color: #f0f1e5;
}
.register-wrapper {
  width: 90%;
  max-width: 1000px;
  border-radius: 20px;
  background-color: white;
}

.register-left {
  background-color: #e6e8d9;
  width: 50%;
  position: relative;
}

.register-right {
  width: 50%;
}